.container {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Opcional: ajusta la altura según tus necesidades */
}
.hero {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #9e3c18), url(../assets/img/imgBg.jpg);
  background-position: center;
  background-size: cover;
  padding: 30px;
}
